<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="chat">
	    <ul id="message">
	        <li v-for="message in messages" :key="message.id">yusuf : {{ message }}</li>
	    </ul>
	    <ul id="pesan">
	    </ul>
	    <form @submit="send">
	        <input type="text" v-model="message">
	        <button>Send</button>
	    </form>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script >
		var socket = io.connect('http://172.16.10.213:3000');
		new Vue({
		    el:'#chat',
		    data: {
		        messages: [],
		        pesans: [],
		        message: '',
		        pesan: '',
		    },
		    mounted: function() {
		        socket.on('chat.message', function(message) {
		        	// message  = "<i>"+message+"</i>";
		            this.messages.push(message);
		            // $("#pesan").append("<li>"+message+"<\li>")
		        }.bind(this));
		    },
		    methods: {
		        send: function(e) {
		            socket.emit('chat.message', "<i>User AL </i>:"+this.message);
		            this.message = '';
		            e.preventDefault();
		        }
		    }
		});
	</script>
</body>
</html>